html,
body {
  width: 375px;
  margin: auto;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
}

/* layout */

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  border-bottom: 1px solid #c6c6c6;
}

main {
  gap: 16px;
  background-color: white;
}

.post-title {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 8px;
  align-items: center;
}

main,
.title-text {
  display: flex;
  flex-direction: column;
}

.post-details {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.actions-bar {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* typography */

.bold-text {
  font-weight: 700;
}

/* images */

.logo {
  height: 56px;
}

.user-avatar,
.post-avatar {
  border-radius: 100%;
}

.user-avatar {
  height: 34px;
}

.post-avatar {
  height: 38px;
}

.post-image {
  width: 100%;
}

/* icon-buttons */

.post-action:hover {
  opacity: 40%;
}

.post-action {
  fill: none;
  stroke: black;
}

.like-button.active svg {
  fill: red;
  stroke: red;
}

button {
  padding: 0;
  background-color: white;
  width: fit-content;
  height: fit-content;
  border: none;
}

/* responsiveness */

@media (max-width: 768px) {
  html,
  body {
    width: 100%;
    margin: 0;
  }
}
